<!--Page which just throws error stacks incase something goes wrong-->
<%- include("Partials/header")%>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include("Partials/footer")%>