<% //page which allows a user to view the music contained within a collection %>
<%- include("Partials/header")%>
<h1> <%collection.title%></h1>

<h3>Music in this collection:</h3>

<ul>
  <% collection.music.forEach(s => { %>
    <li><%= s.name %> – <%= s.Musician %> (<%= s.Genre %>)</li>
  <% }) %>
</ul>

<h3>Add a Song:</h3>
<form method="POST" action="/music-collection/<%= collection._id %>/music">
  <input name="name" placeholder="Song Name">
  <input name="Musician" placeholder="Artist">
  <input name="Genre" placeholder="Genre">
  <button type="submit">Add Song</button>
</form>

<a href="/music-collection">Back</a>